# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# macOS
.DS_Store

# Model outputs and checkpoints
sketch-finetuned/
*.safetensors
*.pt
*.bin

# HuggingFace cache
dataset/
hf_cache/
*.arrow

# Ignore image data if not versioning dataset
# dataset/
# dataset/**/*.jpg
# dataset/**/*.png
